fastapi
uvicorn[standard]
pydantic
psycopg2-binary
python-dotenv
requests
sentence-transformers
together
google-auth
google-auth-oauthlib
google-auth-httplib2
google-generativeai
httpx
python-multipart
Pillow
qrcode[pil]
razorpay==1.3.0

